<h1>New Movie</h1>

<form action ="/movies" method="post">
  <input type="text" name="title">
  <button>Search</button>
</form>








<!-- <form action="/movies" method="Post">
  <input name="title" placeholder="title"> <br/>
  <input name="year" placeholder="year"> <br/>
  <input name="plot" placeholder="plot"> <br/>
  <input name="mpaa_rating" placeholder="mpaa rating"> <br/>
  <input name="user_rating" placeholder="user rating"> <br/>
  <button>Submit</button>
</form> -->